* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f5f5f5;
}
body {
    background-color: #f5f5f5;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #e9e9e9;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}
.logo img {
    width: 35px;
    margin-right: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 14px;
}
nav ul li {
    cursor: pointer;
    color: black;
}
nav ul li.active {
    color: blue;
    font-weight: bold;
}
.right-menu {
    font-size: 14px;
}

/* HERO */

.hero {
    position: relative;
    height: 550px;
    background: url("https://www.mineduc.gov.rw/fileadmin/_processed_/f/c/csm_HOME_HEADER_7f03bd1b78.jpg") center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}